@model DestinosModel
@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card">
  <div class="card-header">
    Eliminar Destino
  </div>
  <div class="card-body">
   
      <form asp-action= "Eliminar" asp-controlller="Destinos" method = "post">

          <input asp-for="CodDestino" type="hidden" class="form-control" />   
          
          <div class= "alert alert-danger" role= "alert">
              ¿Desea eliminar el destino : @Html.DisplayTextFor(m => m.NombreDestino) ?
          </div>

      <button type="submit" class="btn btn-danger">Eliminar</button>
      <a asp-action= "Listar" asp-controller="Destinos" class="btn btn-warning">Volver a la lista</a>
    </form>

  </div>
</div>